<h1>Welcome!</h1>
 <% if flash[:errors] %>
    <% flash[:errors].each do |x| %>
    <p><%= x %></p>
    <% end %>
  <% end %>
<fieldset>
<legend>Register</legend>
<form action='/users/' method='post'>
	<input name='authenticity_token' value='<%= form_authenticity_token %>' type='hidden'>
	Name: <input name='users[name]' type='text'>
	Email: <input name='users[email]' type='text'>
	Password: <input name='users[password]' type='password'>
	Confirm Password: <input name='users[password_confirmation]' type='password'>
	Description: <textarea name='users[description]'></textarea>
	<input type='submit' value='Register'>
</form>
</fieldset>
<% if flash[:logerror] %>
    <p><%= flash[:logerror] %></p>
<% end %>
<fieldset>
<legend>Login</legend>
<form action='/login/' method='post'>
	<input name='authenticity_token' value='<%= form_authenticity_token %>' type='hidden'>
	<input name='email' type='text'>
	<input name='password' type='password'>
	<input type='submit' value='Login'>
</form>
</fieldset>